:root {
  font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
  line-height: 1.5;
  font-weight: 400;

  color-scheme: light dark;
  color: rgba(255, 255, 255, 0.87);
  background-color: #242424;

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;

  --white-color:255,255,255;
  --secondary-grey:155,155,155;
  --black-color:0,0,0;
  --borders-bg:#3a3a3a;
  --bg-specific:#222220;
  --black-default:rgb(0,0,0);
  --bg-main: rgb(37, 37, 37);
  --search-border:rgb(141, 137, 137);
  --chat-bg-color:rgb(29, 28, 28);
  --secondary-color:rgb(255,255,255);
  --bubble-color:rgba(125,125,125,.5);
  --light-grey:rgb(155,155,155);
  --light-grey-half:rgb(155,155,155,.5);
  --main-grey:#787474;
  --main-grey-lighted:#949393;
  --header-height:6rem;
  --default-border-radius:20px;
  --error-color:rgb(205,0,0);
  --menu-color:rgb(73,73,73);
  --sub-color:#007BFF;
  --night-color:#da5050;
  --light-night-color:#b17adf;
  --night-tilelight:hsla(0, 64%, 58%, 0.4);
  --light-night:#ff6161;
  --light-night-half:#ff616136;
  --main-rem:16px;
  --text-size:calc(var(--main-rem) + 3px);
  --scrollbar-color:rgba(255, 255, 255, 0.212) #bbda5500;
  --message-color:rgb(255,255,255);
  --not-ur-messages:#343434;
  --message-weight:500;
  --input-color:rgb(255,255,255);
  --loading-color:rgb(255,255,255);
  --nav-border-color:#1f1f1f;
  --conteneditable-text:black;
  --tile-white:rgba(255,255,255,.4);
  --appear-menu-transition:cubic-bezier(.20,.40,.50,1);
  
}

a {
  font-weight: 500;
  color: #646cff;
  text-decoration: inherit;
}
a:hover {
  color: #535bf2;
}

*,*::after,*::before {
  box-sizing: border-box !important;
}

[contenteditable=true] {
  outline: none;
  color:var(--conteneditable-text);
  caret-color: var(--night-color);
}



div:focus {
  outline: none;
}

input:focus .search-button {
  border-color: var(--night-color);
}

.random-icon {
  position: absolute;
  right:3%;
  display: flex;
  align-self: center;
  justify-content: center;
  width:2rem;
  height:2rem;
  cursor: pointer;
  transition: all .2s;
}

.random-icon:hover g {
  fill:var(--night-color) !important;
}

.random-icon:hover .pass-visibility {
  background-color: var(--night-color);
}

i {
  width: 100%;
  height: 100%;
  background:  no-repeat  fixed  / cover;
  display: flex;
  user-select: none;
}

html {
  font-size: var(--main-rem);
}

body {
  margin: 0;
  display: flex;
  min-width:100vw;
  height: 100vh;
  overflow:hidden;
  justify-content: center;
  background:var(--borders-bg);
}

h1 {
  font-size: 3.2em;
  line-height: 1.1;
}

button {
  display: flex;
  border: none;
  font-family: inherit;
  background-color: #1a1a1a;
  cursor: pointer;
}

.bg-dimmer {
  position: absolute;
  width: 100%;
  height: 100%;
  background-color:rgba(var(--black-color),.1);
  z-index: 100;
  display: flex;
}

.default-svg {
  width: 2rem;
  height:2rem;
  stroke:var(--night-color);
}

.classic-button {
  position: relative;
  display: flex;
  align-items: center;
  justify-content: center;
  overflow: hidden;
}

.flex-center {
  align-items: center !important;
  justify-content: center;
}

.flex-start {
  align-items: flex-start;
  justify-content: center;
}


.icon {
  width: 100%;
  height: 100%;
  background-size: contain;
  background-position: center center;
  background-repeat: no-repeat;
}

input {
  border: none;
  background-color: var(--input-color) !important;
  color:var(--conteneditable-text);
  caret-color: var(--night-color);
}

input[type="search"]::-webkit-search-cancel-button  {
  display: none;
}

* {
  font-size: 1rem;
}

input, button {
  outline: none;
}

button:focus-visible {
  outline:.1rem solid cyan
}

.ripple-btn {
  position: absolute;
  width: 3rem;
  height: 3rem;
  display: flex;
  border-radius: 50% !important;
  background-color:var(--bubble-color);
  z-index: 0;
  animation: bubble-pop .6s linear !important;
}

.nav-section {
  height: 100%;
  display: flex;
  align-items: center;
}

.card {
  padding: 2em;
}

#root {
  width: 90%;
  min-height: 100%;
  overflow: hidden;
}

header {
  position: relative;
  height:var(--header-height);
  transition: all .2s;
}

ul {
  list-style: none;
}

p {
  white-space:normal;
  word-break: break-word;
}

.container {
  position: relative;
  width: 100%;
  height: 100%;
  display: flex;
  align-items: inherit;
}

.flex-reverse {
  flex-direction: column;
  align-items: center;
}

.hidden-container {
  overflow: hidden;
}

.container-reverse {
  flex-direction: column;
  height: auto !important;
}

.context-menu-option {
  width: 80%;
  height: 70%;
  display: flex;
  justify-content: center;
  align-items: center;
  transition: all .2s;
  cursor: pointer;
  border-radius: 20px;
  padding: .2rem;
}

.context-menu-icon {
  position:  relative !important;
  pointer-events: none;
  margin: 0 0 0 .8rem;
  width: 1.5rem;
  height: 1.5rem;
}

@keyframes bubble-pop {
  0% {
      transform: scale(0);
      opacity: .5;
  }
  70% {
      transform: scale(2);
      opacity: .3;
  }
  100% {
      transform: scale(3);
      opacity: 0;
  }
}

@keyframes context-menu-appear {
  from {
    transform:translateZ(-100px);
    opacity: 0;
  } to {
    transform:translateZ(0px);
    opacity: 1;
  }
}

@keyframes context-menu-disappear {
  from {
    transform:translateZ(0px);
    opacity: 1;
  } to {
    transform:translateZ(-100px);
    opacity: 0;
  }
}

.night {
  --light-grey-half:rgb(0,0,0,.5);
  --black-default:rgb(0,0,0);
  --bg-main:#252525;
  --nav-bg:rgb(0, 0, 0);
  --chat-bg-color:rgb(29, 28, 28);
  --secondary-color:rgb(255,255,255);
  --bubble-color:rgba(0,0,0,1);
  --light-grey:rgb(155,155,155);
  --light-black:#4d4d4d;
  --main-grey:#787474;
  --header-height:6rem;
  --footer-height:10rem;
  --foter-space:-10rem;
  --default-border-radius:20px;
  --error-color:rgb(205,0,0);
  --menu-color:rgb(73,73,73);
  --sub-color:#007BFF;
  --night-color:#ff6161;
  --night-tilelight:hsla(0, 64%, 58%, 0.4);
  --loading-color:rgb(255,255,255);
  --nav-border-color:#3b3b3b;
  --input-color:rgb(33, 33, 33);
  --conteneditable-text:var(--secondary-color);
  --tape-bg:rgb(65, 65, 65);
  --context-bg:rgba(33,33,33, .75);
  --other-text-color:var(--secondary-color);
}

.light {
  --bg-specific:rgb(192, 192, 192);
  --black-default:rgb(0,0,0);
  --bg-main:rgb(255,255,255);
  --light-black:#4d4d4d;
  --chat-bg-color:#444444;
  --secondary-color:rgb(255,255,255);
  --bubble-color:rgba(255,255,255,.5);
  --light-grey:rgb(83, 83, 83);
  --light-grey-half:rgb(155,155,155,.5);
  --main-grey:#787474;
  --night-tilelight:hsla(276, 59%, 61%, 0.4); 
  --night-color:#ae7dd6;
  --input-color:rgb(255, 255, 255);
  --loading-color:rgb(0,0,0);
  --tape-bg:#eeeeee;
  --context-bg:rgba(255,255,255, .75);
  --other-text-color:var(--black-default);
  --tile-white:rgba(155,155,155,.4);
}


.light .user-burger-menu > * p {
  color:var(--black-default);
}


@media (max-width:1920px) and (min-width:1870px) {
  :root {
    --main-rem:15px;
  }
}

/* @media (max-width:1869px) and (min-width:1770px) {
  :root {
    --main-rem:13px;
  }
}

@media (max-width:1769px) and (min-width:1670px) {
  :root {
    --main-rem:12px;
  }
}

@media (max-width:1669px) and (min-width:1570px) {
  :root {
    --main-rem:11px;
  }
}

@media (max-width:1569px) and (min-width:1470px) {
  :root {
    --main-rem:10px;
  }
}

@media (max-width:1469px) and (min-width:1370px) {
  :root {
    --main-rem:9px;
  }
}

@media (max-width:1369px) and (min-width:1270px) {
  :root {
    --main-rem:8px;
  }
}

@media (max-width:1269px) and (min-width:1170px) {
  :root {
    --main-rem:7px;
  }
}

@media (max-width:1169px) and (min-width:1070px) {
  :root {
    --main-rem:6px;
  }
}

@media (max-width:1069px) and (min-width:970px) {
  :root {
    --main-rem:5px;
  }
}

@media (max-width:969px) and (min-width:870px) {
  :root {
    --main-rem:4px;
  }
}

@media (max-width:869px) and (min-width:770px) {
  :root {
    --main-rem:3px;
  }
}

@media (max-width:769px) and (min-width:670px) {
  :root {
    --main-rem:2px;
  }
}

@media (max-width:669px) and (min-width:570px) {
  :root {
    --main-rem:1px;
  }
} */