.send-icon {
  pointer-events: none;
}

.down-button {
  position: absolute !important;
  left:-4rem;
  width: 3.5rem;
  height: 3.5rem;
  clip-path: circle();
  background-color: var(--night-color);
  z-index: 100;
  color:var(--secondary-color);
  animation: button-appear .3s ease-in forwards;
}

.arrow-icon {
  background: url('/down-arrow.png');
  background-size: 90% 90%;
  background-position: center;
}

.date-container {
  position: sticky; 
  top: .4rem;
  height: 2rem;
  padding: .3rem;
  display: flex;
  align-items: center;
  justify-content: center;
  align-self: center;
  margin: .3rem;
  z-index: 100;
  user-select: none;
  --webkit-user-select: none;
}

.date-container::after {
  content: '';
  position: absolute;
  width: 100%;
  height: 100%;
  border-radius:var(--default-border-radius);
  background-color:var(--night-tilelight);
  opacity: .8;
  backdrop-filter: blur(.2rem);
  z-index: 0;
}

.group-date {
  font-weight: var(--message-weight);
  color: var(--secondary-color);
  z-index: 1;
}

.chat {
  position: relative;
  width: calc(100% - 10rem);
  display: flex;
  justify-content: center;
  height:100%;
  background:var(--chat-background);
}



.group-right  {
  margin-left: auto;
  margin-right: 0 !important;
  transform: scaleX(1) !important;
}


.not-user-message {
  background-color: var(--not-ur-messages) !important;
  transform-origin: 100% 0% !important;
}

.not-user-message .message-body {
  justify-content: flex-start;
  transform: scaleX(-1);
  padding: .2rem 2rem 0 .5rem;
}

.not-user-message .message-time {
  transform:scaleX(-1);
}

.not-user-message .message-tail {
    fill: var(--not-ur-messages) !important;
}



.message-group {
  position: relative;
  display:flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: flex-end;
  width: 100%;
  margin-right: auto;
  transform: scaleX(-1);
}

.message-time {
  position: relative;
  display: flex;
  font-size: .7rem;
  color: var(--message-color);
  font-weight: 500;
  align-self: flex-end;
  justify-self:flex-end;
  margin: 0rem .2rem 0 0;
  z-index: 1;
}

.message {
  position: relative;
  display:flex;
  max-width: 70%;
  min-width:10%;
  flex-direction: column;
  border-radius:5px;
  border-top-left-radius:20px;
  border-bottom-left-radius:20px;
  background-color: var(--night-color);
  margin: .1rem;
  text-wrap: wrap;
  white-space: normal; 
  transform-origin: 100% 100%;
  user-select: none;
}

@keyframes message-appear {
  from {
    opacity: 0;
  } to {
    opacity: 1;
  }
}


.rounded-message {
  border-top-right-radius:var(--default-border-radius);
}

.rounded-message .not-user-message {
  border-top-left-radius:30px;
  border-top-right-radius:var(--default-border-radius) !important;
}

.messages-hidden .message {
  transform: scale(0);
}

.messages-hidden .date-container {
  opacity: 0;
}


.chat-message-tail {
  bottom:0 !important;
  right:-0.6rem !important;
  width:1rem !important;
  height:1rem !important;
  transform: rotate(5deg);
  z-index: 0;
}

.message-tail {
  position: absolute;
  right: -0.8rem;
  bottom: 0rem;
  width: 2rem;
  height: 2rem;
  fill: var(--night-color);
}

.messages-container {
  flex-direction: column;
  justify-content:flex-start;
  align-items: center;
  max-height: 100%;
  padding-bottom:1rem ;
}

.type-message-container {
  position: relative;
  width: 100%;
  max-height:10rem;
  display: flex;
  align-items: center;
}

.message-body {
  position: relative;
  display: flex;
  justify-content:flex-end;
  color:var(--message-color);
  font-weight:var(--message-weight);
  margin: 0;
  white-space:pre-wrap; 
  word-wrap: break-word; 
  max-width: 100%;
  word-break: break-word; 
  padding: .2rem .5rem 0 1.5rem;
}

.message-input {
  position: relative;
  width:100%;
  min-height:2rem;
  max-height:10rem;
  border-radius:var(--default-border-radius);
  font-size:var(--text-size);
  background-color: var(--input-color);
  display: flex;
  align-items: center;
  justify-content: center;
  padding: .2rem;
  padding-left: 1rem;
  box-shadow: 0 0 .1rem .05rem rgba(var(--alt-color),.2);
}

.chat-input-area {
  position: relative;
  width:100%;
  max-height: 10rem;
  display:block;
  align-items: center;
  white-space: pre-wrap;
  word-break: break-word;
  overflow-y: auto;
  padding:1rem 0;
}

.chat-input-area::-webkit-scrollbar {
  display: none;
}

.chat-input-area:focus::after {
  display: none;
}

.chat-input-area-placeholder {
  position:absolute;
  left:1rem;
  font-size: 1rem;
  color:var(--light-grey);
  pointer-events: none;
}

.messages-button {
   border-radius: 50%;
   width: 3.5rem;
   height: 3.5rem;
   background-color: var(--night-color);
   margin: 1rem;
   clip-path: circle(3rem);
}

.message-icon {
  background-image: url('/send.png');
  background-repeat: no-repeat;
}

.messages-group-container {
   position: relative;
   width:50%;
   min-height: 100%;
   display: flex;
   flex-direction: column;
   align-items: center;
}

.messages {
  position: relative;
  width:100%;
  display: flex;
  flex-grow: 1;
  justify-content: flex-start;
  align-items: center;
  flex-direction: column;
  overflow-x: hidden;
  overflow-y: overlay;
  scrollbar-color: var(--scrollbar-color);
  scrollbar-width: thin;
  transition: all .2s;
  z-index: 1;
}

.type-message-container .message-tail {
  fill: var(--input-color) !important;
}

.messages-input {
  position: relative;
  display: flex;
  width:47%;
  max-height:10rem;
  align-items: center;
  justify-content: center;
  margin-top:.2rem;
}

.message-view-icon {
  position: relative;
  width: 1rem;
  height: 1rem;
  display: flex;
  align-items: center;
  justify-content: center;
}

.eye {
  width: 100%;
  height: 100%;
  fill: var(--secondary-color);
}

.message-additional-info {
  position: relative;
  display: flex;
  justify-content: flex-end;
  padding:0 .2rem 0 1rem;
}

.eye-stick {
  position: absolute;
  width: .1rem;
  height: 100%;
  background-color: var(--secondary-color);
  animation: stick-appear .3s ease-in-out forwards;
}

.context-menu {
  position: fixed;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  min-width:13rem;
  min-height:4rem;
  z-index: 1000000000000;
  perspective: 500px;
}

.context-menu-container {
  padding:.5rem .2rem;
  border-radius:10px;
  background-color:var(--context-bg);
  backdrop-filter: blur(10px);
  animation: context-menu-appear .1s ease-out forwards;
  transform-origin:right;
  box-shadow:var(--pop-up-menu-shadow);
}

.context-menu-reverse {
  animation: context-menu-disappear .1s ease-out forwards;
}

.context-menu-icon g {
  stroke:var(--light-night) !important;
}


.context-menu-option:hover {
  background-color: var(--tile-white);
}

.error-option:hover {
  background-color: var(--light-night-half) !important;
}

.delete-text {
  color:var(--light-night);
}

.hidden .context-menu {
  pointer-events: all;
}

.chat-hide-button {
  position: absolute;
  left:3%;
  width:3rem;
  height:3rem;
  display: flex;
  transition:var(--animation-transition);
  border-radius: 50%;
  z-index: 1000000;
  background:none;
}

.chat-hide-button:hover {
  background-color: rgba(var(--alt-color),.2);
}

.chat-empty-chat-box {
  position: relative;
  display: flex;
  width: 100%;
  min-height:10rem;
  align-items: center;
  justify-content: center;
  margin: auto;
  padding: .5rem;
  background-color:rgba(var(--white-color),.2);
  border-radius: var(--default-border-radius);
  box-shadow: var(--pop-up-menu-shadow);
  animation: button-appear .3s ease-in-out forwards;
}

.empty-chat-box-text-container {
  position: relative;
  display: flex;
  width: 100%;
  height: 50%;
}

.empty-chat-box-text {
  position: relative;
  display: flex;
  justify-content: center;
  font-size: 2rem;
  color:rgb(var(--alt-color));
}

.empty-chat-box-dots-container {
  position: relative;
  display: flex;
  justify-content: space-around;
  width:5rem;
  align-self: flex-end;
  margin-bottom: .5rem;
}

.empty-chat-box-text-dot {
  position: relative;
  display: flex;
  width: .5rem;
  height: .5rem;
  border-radius: 50%;
  background-color: var(--other-text-color);
  /* margin: 0 .5rem; */
  transform: translateY(100%);
  transition: all .3s;
  animation: dot-writing 1s ease-in-out infinite;
}

.empty-chat-box-text-dot:nth-child(2) {
  animation-delay: .2s;
}

.empty-chat-box-text-dot:nth-child(3) {
  animation-delay: .3s;
}


@keyframes dot-writing {
  50% {
    transform: translateY(0%);
  } 100% {
    transform: translateY(100%);
  }
}

@keyframes button-appear {
  0% {
    transform: scale(0%);
  } 50% {
    transform: scale(110%);
  } 100% {
    transform: scale(100%);
  }
}


@keyframes stick-appear {
  from {
    transform: rotate(45deg) scale(0);
  } to {
    transform: rotate(45deg) scale(1);
  }
}


@media (prefers-color-scheme: light) {
  .chat > * {
    z-index: 0;
  }
}

@media only screen and (max-width:1024px) {
  .messages-group-container {
    width:99%;
  }

  .messages-input {
    width: 90%;
  }

  .down-button {
    bottom: 105%;
    left:1%;
  }

  .chat-empty-chat-box {
    width: 90%;
  }

  .empty-chat-box-text {
    font-size: 1.5rem;
    justify-content: center;
  }

  .empty-chat-box-dots-container {
   width:3rem;
  }

  .empty-chat-box-text-dot {
    width: .4rem;
    height: .4rem;
    /* margin: 0 .3rem; */
  }
}