.pass-icon {
  position: relative;
  width: 100%;
  height: 100%;
  transition: all .2s;
  cursor: pointer;
  z-index: 0;
}

.arrow-icon {
  left:1%;
  top:1%;
  width: 3rem;
  height: 3rem;
}

.pass-visibility {
  position: absolute;
  width: .2rem;
  height: 2rem;
  background: var(--black-default);
  transition: all .2s;
  animation: stick-rotate .3s ease-in-out forwards;
  transform:rotate(45deg);
  z-index: 1;
  pointer-events: none;
}

@keyframes stick-rotate {
  from {
    transform: rotate(45deg) scale(0);
  }
  to {
    transform: rotate(45deg) scale(1);
  }
}

.list-arrow {
  position:absolute;
  display:flex;
  align-self:center;
  right:1%
}


.input-cover:focus::before {
  border-color: var(--night-color) !important;
}

.input-cover {
  flex-direction: column;
  justify-content: center;
  border-radius: var(--default-border-radius);
}

.input-cover::after {
  position: absolute;
  top:-1rem;
  left:1rem;
  content: attr(data-label-text);
  color: var(--main-grey);
  background-color: var(--bg-main);
  font-size:var(--main-rem);
  display: flex;
  padding: 0 .5rem;
  transition: all .2s;
}

.input-cover::before {
  position: absolute;
  top:0%;
  left:0%;
  content: '';
  display: flex;
  width: 100%;
  height: 100%;
  border-radius: inherit;
  border: .2rem solid var(--main-grey);
  pointer-events: none;
  transition: all .2s;
}

.list-arrow-active {
  transform:rotate(180deg);
}


.auth-input {
  position: relative;
  display: flex;
  align-items: center;
  background: none !important;
  border-radius: var(--default-border-radius);
  color:var(--black-default) !important;
  padding-left: .5rem;
  height: 100%;
  width:100%;
  padding-left:1.5rem;
}

.input-error::before {
  border-color: var(--error-color) !important;
}

.input-error::after {
  color:var(--error-color) !important;
}

.input-cover:focus-within::after {
  color:var(--night-color);
}

.input-cover:focus-within::before {
  border-color: var(--night-color);
}

.code-options {
  position: absolute;
  top:103%;
  left:0;
  overflow-y: scroll;
  height:16rem;
  z-index: 1;
  background-color: var(--chat-bg-color);
  backdrop-filter: blur(.5rem);
  border-radius: var(--default-border-radius);
  pointer-events: all !important;
}

.auth-container {
  flex-direction: column;
  justify-content: flex-end;
  align-items: flex-start;
  padding-bottom: 10rem;
}

.auth-input:focus-within {
  outline: none;
  border-color:var(--night-color);
}

.auth-input[contenteditable=true]::after {
  content: attr(data-left-pattern);
  color:var(--light-grey);
}

.input-error {
  border-color: var(--error-color) !important;
}

.auth-label {
  padding:1rem;
  font-size: 1.3rem !important;
  color:var(--light-grey) !important;
  border-radius:10px;
  background-color:rgba(var(--secondary-grey),.2);
}

.error-label {
  color:var(--error-color) !important;
}

.input-container {
  position: relative;
  width: 90%;
  height: 5rem;
  display: flex;
  flex-direction: column;
}

/* .input-container * {
  margin: .2rem;
} */


.auth-page {
  position: relative;
  width: 100%;
  height: 100%;
  display: flex;
  background-color: var(--bg-main);
}

.auth-page * {
  color: var(--secondary-color);
  font-weight: 500;
  font-size: 1.5rem;
}


.auth-list-container {
  justify-content: center;
  align-items: center;
}

.auth-list {
  position: relative;
  display: flex;
  width: 40rem;
  height: 25rem;
  flex-direction: column;
  align-items: center;
  padding: 0;
  margin: 0;
}

.auth-window {
  position: relative;
  width:100%;
  height: 80%;
  display: inherit;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

.auth-list > li,button {
  margin: .6rem 0;
}

.code-selector {
  position: relative;
  width: 90%;
  height: 6rem;
  display:flex;
  align-items: center;
  background-color: var(--chat-bg-color);
  padding: .5rem;
  outline: none;
  border-color: none;
  border-radius: var(--default-border-radius);
  scrollbar-color:var(--scrollbar-color);
  scrollbar-width:thin;
  cursor: pointer;
}

.code-option {
  width: 100%;
  height: 4rem;
  cursor: pointer;
  padding-left: .2rem;
  user-select: none;
  display: flex;
}

.code-option > * {
  margin: 0 .5rem;
}

.code-option:hover {
  background-color: var(--night-color);
}

.code-option:hover .code {
  color:var(--light-grey) !important;
}

.code-option:checked {
  background-color: var(--night-color);
}

.code-selector::-webkit-scrollbar-track {
background: var(--bg-main); 
border-radius: 4px;
}

.code-selector::-webkit-scrollbar-thumb {
   background: var(--light-grey);
}

.code-selector:focus {
  box-shadow: 0 0 .5rem var(--night-color);
  border-color: var(--night-color);
}



.auth-button {
  position: relative;
  width: 70%;
  padding: 1rem;
  background-color: var(--night-color);
  border-radius:var(--default-border-radius);
  transition: all .2s;
}

.auth-button:hover {
  background-color: var(--light-night-color);
}

.refresh-button {
  position: absolute;
  width: 8rem;
  height: 4rem;
  border-radius: var(--default-border-radius);
  top: 1%;
  left:2%;
  color:var(--secondary-color);
  background-color: var(--main-grey);
}


.refresh-button:hover {
  background-color: var(--night-color);
}

.error-dialog {
  position: fixed;
  bottom:2%;
  right:10rem;
  min-width:10rem;
  color:var(--other-text-color);
  border-radius: var(--default-border-radius);
  box-shadow: 0 0 .5rem var(--main-grey);
  display: flex;
  flex-direction: column;
  padding: .5rem;
  animation: box-up .3s ease-out forwards;
}

@keyframes box-up {
  from {
    transform: translateY(100%);
    opacity: 0;
  } to {
    transform: translateY(0%);
    opacity: 1;
  }
}