.burger-menu-container {
  width: 20%;
}

.search-section-container {
  width: 60%;
}

.theme-switcher-container {
  width: 20%;
}

.theme-icons {
  width: 1.2rem;
  height: 1.2rem;
  margin-right:.5rem;
  enable-background:0 0 240 240;
}
.theme-changer {
  position: relative;
  left:50%;
  width: 10rem;
  height: 50%;
  display: flex;
  background-color:rgba(155,155,155,.3);
  border-radius: 40px;
  cursor: pointer;
  transition: all .2s;
}

.theme-changer:hover {
  background-color:rgba(185,185,185,.3);
}

.theme-options {
  position: absolute;
  top:100%;
  right:90%;
  display: flex;
  flex-direction: column;
  width: 120%;
  background-color: var(--light-grey);
  border-radius: 20px;
  z-index: 100;
  transition: all .2s;
}

.theme-options > * {
  padding-left: 20px;
}

.theme-icon {
  width: 20% !important;
}

.theme-option {
  position: relative;
  display: flex;
  min-height: 2rem;
  align-items: center;
  transition: all .2s;
}

.theme-option:nth-child(1) {
  border-top-left-radius: inherit;
  border-top-right-radius: inherit;
}

.theme-option:nth-child(2) {
  border-bottom-left-radius: inherit;
  border-bottom-right-radius: inherit;
}

.theme-option:hover {
  background-color: var(--light-grey-half);
}


.navigation {
  position: relative;
  width: 100%;
  height:100%;
  background:var(--nav-bg);
  display: flex;
  align-items: center;
}

.day-icon {
  background-image: url('/day.svg');
}

.night-icon {
  background-image: url('/night.svg');
}

.search-icon {
  width:100%;
  height:100%;
  background-position: center center;
  background-size: 50%;
}

.bubble {
  display: flex;
  overflow: hidden;
}

.bubble::after {
  content: '';
  position: absolute;
  width: 3rem;
  height: 3rem;
  border-radius: 50%;
  display: flex;
  background-color:var(--secondary-color);
  opacity: .2;
  animation: bubble-pop .4s ease-out forwards;
}

.nav-container {
  padding-left: 2rem;
}

.search-section {
  position: relative;
  left:30%;
  height: 100%;
  display: flex;
  align-items: center;
}

.search-input {
   width: 40rem;
   height: 60%;
   border-top-left-radius:30px;
   border-bottom-left-radius:30px;
   padding-left: 1rem;
   border-left: .1rem solid rgb(155,155,155);
}

.search-button {
  position: relative;
  height: 60%;
  width:3.5rem;
  text-align: center;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color:var(--night-color);
  border-top-right-radius:30px;
  border-bottom-right-radius:30px;
  overflow: hidden;
}

.burger-menu {
  position: relative;
  width: 4rem;
  height:60%;
  display: flex;
  align-items: center;
  justify-content: center;
  grid-template-rows: repeat(3,4px);
  row-gap: .5rem;
  border-radius: 10px;
  background-color:var(--night-color);
  flex-direction: column;
  cursor: pointer;
  overflow: hidden;
}

.close-burger {
  display:flex;
}

.close-burger .burger-line:nth-child(2) {
  display: none;
}

.close-burger .burger-line:nth-child(1) {
  top:.3rem;
  transform: rotate(45deg);
}

.close-burger .burger-line:nth-child(3) {
  top:-.4rem;
  transform: rotate(-45deg);
}

.burger-line {
  position: relative;
  width: 80%;
  min-height: .2rem;
  background-color: var(--secondary-color);
  border-radius:20px;
  z-index: 1;
  pointer-events: none;
  transition: all .2s;
}

@keyframes bubble-pop {
  0% {
      transform: scale(0);
      opacity: 0.4;
  }
  70% {
      transform: scale(2);
      opacity: 0.2;
  }
  100% {
      transform: scale(3);
      opacity: 0;
      border-radius: inherit;
  }
}