.user-burger-menu {
  position: absolute;
  display: flex;
  width:100%;
  height: 100%;
  background-color:var(--bg-main);
  overflow: hidden;
  z-index: 10;
}

.head-info-container {
  height: 40% !important;
  flex-direction: column;
  user-select: none;
}

.body-info-container {
  flex-direction: column;
  padding: 0 1.2rem;
}

.user-burger-avatar {
  height: 8rem !important;
  width: 8rem !important;
  display: flex;
  border-radius: 50%;
  border: .1rem solid var(--bubble-color);
}

.user-burger-menu-appear {
  display: flex !important;
  animation: menu-appear .2s var(--appear-menu-transition) forwards;
}

.user-burger-menu-disappear {
  animation: menu-disappear .2s var(--appear-menu-transition) forwards;
}

.user-edit-burger-menu-appear {
  display: flex !important;
  animation: edit-menu-appear .2s var(--appear-menu-transition) forwards;
}

.user-edit-burger-menu-disappear {
  display: flex !important;
  animation: edit-menu-disappear .2s var(--appear-menu-transition) forwards;
}

.user-burger-menu-not-spawned {
  display: none;
}

.user-burger-name {
  text-align: center;
  font-weight: 600;
  font-size:calc(var(--main-rem) + 5px);
}

.user-burger-status {
  display: flex;
  align-items: center;
}

.user-burger-status-dot {
  width: .5rem;
  height: .5rem;
  border-radius: 50%;
  display: flex;
  margin: 0 .5rem;
}

.status-Online {
  background-color: var(--night-color);
  animation: blink 2s linear infinite;
}

.status-Offline {
  background-color: var(--main-grey);
}

.additional-actions-container {
  position:absolute;
  display: flex;
  top:1%;
  right:1%;
  width: 2rem;
  height: 2rem;
  border-radius: 50%;
  transition: all .2s;
}

.additional-actions-container .random-icon {
  fill: var(--search-border);
  right: 0%;
}

.moreMenu {
  position: absolute;
  top:100%;
  right: 100%;
  min-width:10rem;
  height:3rem;
  display: flex;
  perspective: 500px;
  z-index: 1000;
  pointer-events: all !important;
}

.moreMenu-container {
  position: relative;
  border-radius: 10px;
  background-color:var(--context-bg);
  backdrop-filter: blur(50px);
  box-shadow: 0 0 .5rem var(--light-grey-half);
  transform-origin: right;
  animation: context-menu-appear .1s ease-out forwards;
}

.log-out-icon {
  stroke: var(--secondary-color) !important;
  fill: var(--search-border) !important;
  margin:0 .2rem 0 0 !important;
}

.log-out-icon g {
  stroke: none !important;
}

.moreMenu-disappear {
  animation: context-menu-disappear .1s ease-in forwards;
}

.body-info-block {
  position: relative;
  width:100%;
  height:3.5rem;
  border-radius:var(--default-border-radius);
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start !important;
  margin: 1rem 0;
}

.body-info-body {
  position: relative;
  width: 100%;
  height: 100%;
  padding: 1rem;
  border-radius: 10px;
  display: flex;
  color: var(--other-text-color);
}

.body-info-body[contenteditable=false]::before {
  background-color: var(--tile-white);
  border:none;
  border-radius: 40px;
}

.body-info-body[contenteditable=false]::after {
  background:var(--main-grey);
  color:var(--secondary-color);
  border-radius: var(--default-border-radius);
}

.body-info-body:focus::before {
  border-color: var(--night-color);
}

.body-info-body:focus::after {
  color: var(--night-color);
}

.body-info-body::before {
  position: absolute;
  top:0%;
  left:0%;
  content: '';
  display: flex;
  width: 100%;
  height: 100%;
  border-radius: inherit;
  border: .2rem solid var(--main-grey);
}

.body-info-body::after {
  position: absolute;
  top:-1rem;
  left:1rem;
  content: attr(data-label-text);
  color: var(--main-grey);
  background-color: var(--bg-main);
  display: flex;
  padding: 0 .5rem;
}

.footer-info-container {
  height: 30%;
}

.edit-button {
  position: relative;
  width: 4.5rem;
  height: 4.5rem;
  border-radius: 50%;
  display: flex;
  background-color: var(--night-color);
  overflow: hidden;
}

.avatar-container {
  width: 8rem !important;
  height: 8rem !important;
}

.avatar-container:hover .change-avatar-icon {
  transform: scale(1.2);
}

.change-avatar-icon {
  width: 3rem !important;
  height: 3rem !important;
  right: initial;
}

.confirm-button {
  animation: bubble-appear .2s var(--appear-menu-transition) forwards;
}

.dimmed-button:hover::before {
  position: absolute;
  content: '';
  width: 100%;
  height: 100%;
  display: flex;
  border-radius: inherit;
  background-color:rgba(var(--white-color),.1);
  pointer-events: none;
}

.edit-icon {
  right:initial;
  align-self: center;
  width: 2.5rem;
  height:2.5rem;
}

.edit-icon *  {
  stroke: var(--secondary-color) !important;
}

.edit-menu-button {
  position: absolute;
  top:1%;
  left:1%;
  border-radius: 50%;
  display: flex;
  width:3rem;
  height: 3rem;
  background: none;
  z-index: 1000;
  transition: all .2s;
}

.edit-menu-button:hover {
  background-color: var(--tile-white);
}

.edit-menu-button-icon {
  pointer-events: none;
  right:initial !important;
  stroke:var(--search-border) !important;
}

.edit-menu-button-icon * {
  fill: var(--other-text-color) !important;
}

.edit-placeholder {
  position: absolute;
  top:auto;
  left:3%;
  color:var(--other-text-color);
}

.avatar-resizing-window {
  padding:1rem;
  max-width:38rem;
  border-radius: var(--default-border-radius);
  background-color: var(--bg-main);
  z-index: 10000000;
}

.avatar-image-container {
  position: relative;
  max-width:38rem;
  max-height:38rem;
  overflow: hidden;
}

.avatar-image-overlay {
  position: absolute;
  overflow: hidden;
  border-radius: 50%;
  z-index: 10;
  cursor:move;
}

.avatar-image-overlay-long {
  max-width: inherit;
  max-height: inherit;
  display: block;
}

.avatar-image-overlay-long::after {
  content: '';
  position: absolute;
  top:0;
  left:0;
  width: 100%;
  height: 100%;
  display: flex;
  background-color: rgba(var(--white-color),.5);
}

.image-rounded {
  position:absolute;
  max-width: 38rem !important;
  max-height:38rem !important;
}

.avatar-image {
  max-width: inherit;
  max-height: inherit;
  display: block;
  object-fit: cover;
}

.resizing-window-header {
  display: grid;
  grid-auto-flow: column;
  gap:1rem;
  justify-content: space-between;
  max-height: 20%;
  padding:.5rem;
}

.resizing-window-header > * {
  margin: 0;
}

.resizing-header {
  display: flex;
  font-size: 1.3rem;
  color:var(--other-text-color)
}

.resizing-button {
  position: relative;
  width:3.5rem;
  height:3.5rem;
  border-radius: 50%;
  display: flex;
  background: none;
  transition: var(--animation-transition);
}

.cancel-button .button-icon * {
  fill:var(--other-text-color) !important;
  stroke:var(--other-text-color) !important;
}

.cancel-button:hover {
  background-color:var(--bubble-color);
}

.confirm-button {
  background-color: var(--night-color);
}


.confirm-button:hover .button-icon g {
  fill:var(--secondary-color) !important;
}

.resizing-dimmer {
  position: fixed !important;
  top:0;
  width: 90vw !important;
  z-index: 100;
  background:rgba(var(--black-color),.5);
  padding-bottom: 2rem;
}

.nickname-exist-sign {
  max-width: 70%;
  max-height:5rem;
  padding: .1rem;
  display: flex;
  border-radius: var(--default-border-radius);
  background-color: var(--night-color);
}

.edit-block-container {
  width: 100%;
  display: flex;
}

.date-pick-container {
  width: inherit !important;
  height: 4rem !important;
}

.date-pick {
  position: relative;
  width: 100%;
  height: 90%;
  display: flex;
  border:.2rem solid var(--main-grey);
  border-radius:10px;
}

.date-pick::before {
  content: attr(data-label-text);
  position: absolute;
  top:-1rem;
  left:1rem;
  background-color: var(--bg-main);
  color:var(--main-grey);
  display: flex;
  padding:0 .5rem;
  z-index: 10;
} 

.date-block {
  position: relative;
  display: flex;
  flex: 1;
  height: 100%;
  cursor: pointer;
  transition: var(--animation-transition);
}

.block-active {
  box-shadow:inset 0 0 0 .1rem var(--night-color);
}

.date-value-list {
  position: absolute;
  top:100%;
  width: 100%;
  max-height:15rem;
  overflow-y: overlay;
  scrollbar-width: none;
  color:var(--other-text-color);
  display: flex;
  animation: list-appear .2s var(--appear-menu-transition) forwards;
  border-bottom-left-radius: var(--default-border-radius);
  border-bottom-right-radius: var(--default-border-radius);
  border: .2rem solid var(--main-grey);
}

.date-value {
  width: 100%;
  padding: .5rem;
  transition: var(--animation-transition);
  text-align: center;
}

.date-value:hover {
  background-color: var(--night-color);
}

.values-container {
  max-height: inherit;
  background-color: var(--bg-color);
}

.date-block:nth-child(1) {
  border-top-left-radius:inherit;
  border-right: .2rem solid var(--main-grey);
}

.date-block:nth-child(2) {
  border-right: .2rem solid var(--main-grey);
}

.date-block:nth-child(3) {
  border-top-right-radius:inherit;
}

@keyframes list-appear {
  from {
    max-height: 0rem;
  } to {
    max-height: 15rem;
  }
}

@keyframes bubble-appear {
  0% {
    transform: scale(0);
  } 50% {
    transform: scale(1.5);
  } 100% {
    transform: scale(1);
  }
}

@keyframes blink {
  0% {
    opacity: 0;
  } 50% {
    opacity: 1;
  } 100% {
    opacity: 0;
  }
}

@keyframes edit-menu-appear {
  from {
    transform: translateX(100%);
  } 
  to {
    transform: translateX(0);
  }
}
@keyframes edit-menu-disappear {
  from {
    transform: translateX(0%);
  } 
  to {
    transform: translateX(100%);
  }
}

@keyframes menu-appear {
  from {
    transform: translate(-100%);
  }
  to {
    transform: translateX(0);
  }
}

@keyframes menu-disappear {
  to {
    transform: translateX(-100%);
    display: none;
  }
}

@keyframes open-menu {
  from {
    transform: translateX(-100%);
  } to {
    transform: translateX(0%);
  }
}